*.class

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
.ignore
.settings
.DS_Store
__MACOSX
/bin
/build/
/.groovy/
/.gradle/
/.metadata/
/manifest.mf
/build/
/nbproject/
/*.yml
/*.yaml
/*.properties
/*.log
